<h1>
  
</h1>

<form #regForm="ngForm" class="modal-content animate">
  {{message}}
    <div class="container">
 
 <label><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="Name" required [(ngModel)]="model.Name">

      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required [(ngModel)]="model.Email"> 

      <label><b>Mobile</b></label>
      <input type="text" placeholder="Enter Mobile" name="Mobile" required [(ngModel)]="model.Mobile"> 

      <label><b>Address</b></label>
      <input type="text" placeholder="Enter Address" name="Address" required [(ngModel)]="model.Address">

      <label><b>Number Of People</b></label>
      <input type="text" placeholder="No. of People" name="People" required [(ngModel)]="model.NoPeople">
      
      <div class="clearfix">
        <button (click)="SaveRecord()" type="button" class="signupbtn">Submit</button>
      </div>
    </div>
  </form>
